.enteteForm{
    width: 90%;
    height: 50px;
    margin: auto;
    border-radius: 25px 25px 0 0;
    background-color: var(--bleu);
}

.containerStudentDetails form{
    width: 90%;
    margin: auto;
    padding: 10px;
}

.formulaireStudent, .formulaireRole, .formulairePermission{
    width: 90%;
    margin: auto;
    padding-top: 20px;
    display: flex;
    border: 2px solid var(--bleu);
}

.formulaireStudent form label{
    font-weight: 600;
}

.cadre{
    height: 120px;
    width: 120px;
    border: 3px dotted gray;
}


.btnLoadStagiaire{
	width: 100%;
	padding: 20px;
	text-align: right;
}

.btn-outline-warning {
	color: white; 
	background-color: var(--bleu);
	border-color: var(--orange)
}

.btn-outline-warning:hover {
    background-color: white;
    border-color: var(--orange)	; 
    color: var(--bleu); 
}

