/********************** DEBUT PAGE RETARD ABS ************************/

.separated{
	margin-top: 20px;
}
.enteteOnglet {
	margin: 20px 0px;
	display: flex;
	justify-content: space-between;
}

.ongletRetard {
	background-color: var(--bleu-opacité);
}

#home-tab {
	background-color: var(--bleu-opacité);
	font-weight: 600;
	width: 200px;
}

#profile-tab {
	background-color: var(--orange-opacité);
	font-weight: 600;
	width: 200px;
}

/********************** DEBUT PAGE RETARD ABS OFFCANVAS************************/


.typeLate {
	display: flex;
	flex-wrap: wrap;
}



.form-check {
	position: relative;
}

.form-check-input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.form-check-label {
	display: inline-block;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 125px;
	height: 25px;
	margin: 10px;
	text-align: center;
	line-height: 25px;
	font-weight: bold;
	font-size: 14px;
	color: #151A37;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}

/* Style de la case cochée */
.form-check-input:checked + .form-check-label {
	background-color: var(--bleu);
	border-color: #FF6616;
	color: #eeeeee;
}

.DelayLate{
	border-radius: 25px;

}