/********************** DEBUT PAGE TABLEAU ************************/

/* =========================NAVIGATION=============== */
.mainContainer {

	position: relative;
	width: 100%;
}

.navigation a {
	color: white;
}

.navigation {
	position: fixed;
	width: 300px;
	height: 100%;
	background-color: var(--bleu);
	border-left: 10px solid var(--bleu);
	transition: 0.5s;
	overflow: hidden;
	/* transition: right 0.3 ease; */
}

.navigation.active {
	width: 100px;
}

.navigation ul {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.navigation ul li {
	position: relative;
	width: 100%;
	list-style: none;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
	background-color: rgb(252, 252, 252);
}

.navigation ul li:nth-child(1) {
	margin-bottom: 40px;
	pointer-events: none;
}

.navigation ul li a {
	position: relative;
	display: block;
	width: 100%;
	display: flex;
	text-decoration: none;
}


.navigation ul li:hover a,
.navigation ul li.hovered a {
	color: var(--bleu);
}

.navigation ul li a .icon {
	position: relative;
	display: block;
	min-width: 60px;
	height: 60px;
	line-height: 50px;
	text-align: center;
}

.navigation ul li a .title {
	position: relative;
	display: block;
	padding: 0px 10px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	white-space: nowrap;
}

.navigation ul li a .icon,
.iconHovered {
	filter: invert(100%);
}


/* ---------------curve------------------------ */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
	content: "";
	position: absolute;
	top: -50px;
	right: 0;
	width: 50px;
	height: 50px;
	background-color: transparent;
	border-radius: 50%;
	box-shadow: 35px 35px 0px 10px rgb(255, 255, 255);
	pointer-events: none;
	z-index: -1;
}


.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
	content: "";
	position: absolute;
	bottom: -50px;
	/* Ajuste pour ne pas remonter trop */
	right: 0;
	width: 50px;
	height: 50px;
	background-color: transparent;
	border-radius: 50%;
	box-shadow: 35px -30px 0px 10px rgba(255, 255, 255);
	pointer-events: none;
	z-index: -1;
	/* Met l'effet derrière */
}


/* <!-- =====================MAIN=============================== --> */

.mainDashboard {
	position: absolute;
	width: calc(100% - 300px);
	left: 300px;
	min-height: 100vh;
	transition: .5s;
	background-color: white;
}

.mainDashboard.active {
	width: calc(100% - 110px);
	left: 110px;

}

/* <!-- =====================TOPBAR=============================== --> */

.topBar {
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0, 10px;
}

.toggle {
	position: relative;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5rem;
	cursor: pointer;
}

.search {
	position: relative;
	width: 400px;
	margin: 0 10px;
}

.search label input {
	position: relative;
	width: 100%;
	border-radius: 40px;
	padding: 5px 10px 0px 35px;
	font-size: 18px;
	outline: none;
	border: 1px solid black;
}

.search label img {
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 1.2rem;
}

.user {
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer;
}

.user img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* <!-- =====================CARDS=============================== --> */

.cardBox {
	position: relative;
	width: 100%;
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 30px;
}

.cardBox .card {
	position: relative;
	padding: 20px;
	background-color: var(--bleu-opacité);
	border-radius: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	cursor: pointer;
	box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
	overflow: hidden;
}

.cardBox .card:nth-child(even) {
	background-color: var(--orange-opacité);
}



.cardBox .card .cardNumber {
	position: relative;
	font-weight: 400;
	font-size: 2.5rem;
}

.cardBox .card .cardName {
	position: relative;
	font-size: 1.5rem;

}

.card .iconCard {
	position: relative;
	display: flex;
	align-items: center;

}

.cardBox .card::before {
	content: "";
	position: absolute;
	top: -20px;
	right: -20px;
	/* Déplace le rond en haut à droite */
	width: 60px;
	height: 60px;
	background-color: var(--orange);
	border-radius: 50%;
	transition: all 0.5s ease-in-out;
}

.cardBox .card:hover::before {
	width: 300%;
	height: 300%;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	border-radius: 0;
	background-color: var(--orange);
}

.cardBox .card:nth-child(even)::before {
	background-color: var(--bleu);
}


.cardBox .card:hover {
	color: white;
}

.cardBox .card:hover .iconCard {
	filter: invert(100%);
}

/* <!-- =====================GRAPHIQUES STAGIAIRE + ABS RETARDS=============================== --> */

.graphs,
.graphTableFiles{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	margin: 50px 20px 50px 20px;
	gap: 20px;
}

.graphLateAbs {
	width: 100%;
	padding: 20px;
	margin-bottom: 20px;
}

.chartContainerAbs {
	width: 100%;
	height: 100%;
	margin-bottom: 20px;
}

.graphStagiaires, .graphFiles, .graphLateAbs, .TableDossier {
	width: 100%;
	position: relative;
	top: 0;
	padding: 20px;
}

.chartContainerStagiaire {
	width: 100%;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* <!-- =====================GRAPHIQUES + TABLEAU DOSSIERS =============================== --> */
.table-custom {
	background-color: #151A37 !important;
	color: white !important;
	
}

.table-custom th,
.table-custom td {
	border-color: #FF6616;
}

.table-custom thead tr th {

	background-color: #151A37 !important;
	color: white !important;

}
/************************ FIN PAGE TABLEAU *********************/

/************************ DEBUT PAGE TABLEAU USEr *********************/

.progressFiles{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
}