/********************** DEBUT PAGE CLASSE ************************/

.tableauClass {
	width: 100%;
    display: flex;
    flex-direction: column;
}


.table-container {
	display: none;
	flex-grow: 1; 
    width: 100%; 
}


.tableauClass{
	width: 100%;
	margin: 20px;
}
/********************** FIN PAGE CLASSE ************************/