/********************** DEBUT PAGE DOSSIER ETUDIANT ADMIN ************************/
.cardStudent{
	width: 90%;
	margin: auto;
}
.cardStudent img{
	width: 100px;
	height: 100px;
	} 

	.student-info, .student-info-supp{
		text-align: center;
	}

	.student-info button{
		background-color: var(--bleu);
	}
	
 .student-info-supp button{
	background-color: var(--orange) ;
	border: 1px solid var(--bleu) ;
 }

		
	
	.student-info-enCours{
		display: flex;
		align-items: center;
		justify-content: space-around;
	}


	.studentInfos{
		display: flex;
		flex-direction: column;
	}

	.boxNotif {
		border: 4px solid rgba(255, 136, 0, 0.988);
	  }
	  

	.progress-bar{
		background-color: var(--bleu);
	}

/* INFO DOSSIER */

.table-custom {
	background-color: #151A37 !important;
	color: white !important;
	
}

.table-custom th,
.table-custom td {
	border-color: #FF6616;
}

.table-custom thead tr th {

	background-color: #151A37 !important;
	color: white !important;

}

/********************** FIN PAGE DOSSIER ETUDIANT ADMIN ************************/

.fileInputLoad[disabled] {
	opacity: 0.5;
	pointer-events: none;
  }
  