<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classe</title>
    <!-- =======================BOOTSTRAP + ICONS BOOTSTRAP================ -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- =======================AOS SCROLL================ -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- =======================STYLES================ -->
    <link rel="stylesheet" href="../Public/assets/css/style.css">
    <link rel="stylesheet" href="../Public/assets/css/styleNavigation.css">
    <link rel="stylesheet" href="../Public/assets/css/styleCards.css">
    <link rel="stylesheet" href="../Public/assets/css/styleClasse.css">
    <link rel="stylesheet" href="../Public/assets/css/styleMediaQuery.css">

</head>

<body>


    <!-- ==============BARRE DE NAVIGATION============== -->
    <div class="container-fluid containerPrincipal bg-secondary">
        <div class="navigation">
            <ul>
                <li>
                    <a href="tableau.html">
                        <span class="icon"><img width="40" height="40"
                                src="https://img.icons8.com/ios/50/control-panel--v2.png"
                                alt="control-panel--v2" /></span>
                        <span class="title">MNS</span>
                    </a>
                </li>
                <li>
                    <a href="tableau.html">
                        <span class="icon"><img width="40" height="40"
                                src="https://img.icons8.com/ios/50/control-panel--v2.png"
                                alt="control-panel--v2" /></span>
                        <span class="title">Tableau</span>
                    </a>
                </li>
                <li>
                    <a href="stagiaire.html">
                        <span class="icon"><img width="40" height="40"
                                src="https://img.icons8.com/glyph-neue/64/student-male.png" alt="student-male" /></span>
                        <span class="title">Stagiaires</span>
                    </a>
                </li>
                <li>
                    <a href="intervenant.html">
                        <span class="icon"><img width="40" height="40"
                                src="https://img.icons8.com/ios-filled/50/podium-with-speaker.png"
                                alt="podium-with-speaker" /></span>
                        <span class="title">Intervenants</span>
                    </a>
                </li>
                <li>
                    <a href="dossier.html">
                        <span class="icon"><img width="40" height="40"
                                src="https://img.icons8.com/glyph-neue/64/user-folder.png" alt="user-folder" /></span>
                        <span class="title">Dossiers</span>
                    </a>
                </li>
                <li>
                    <a href="retard-abs.html">
                        <span class="icon"><img width="40" height="40"
                                src="https://img.icons8.com/ios-filled/50/task-planning.png"
                                alt="task-planning" /></span>
                        <span class="title">Retards-Absences</span>
                    </a>
                </li>
                <li>
                    <a href="classe.html">
                        <span class="icon"><img width="40" height="40"
                                src="https://img.icons8.com/glyph-neue/64/classroom.png" alt="classroom" /></span>
                        <span class="title">Classes</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="icon"><img width="40" height="40"
                                src="https://img.icons8.com/ios-filled/50/chat.png" alt="chat" /></span>
                        <span class="title">Messagerie</span>
                    </a>
                </li>
                <li>
                    <a href="profil.html">
                        <span class="icon"><img width="40" height="40"
                                src="https://img.icons8.com/glyph-neue/64/user--v1.png" alt="user--v1" /></span>
                        <span class="title">Profils</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- =====================MAIN GENERAL=============================== -->

        <!-- =====================MAIN TABLEAU=============================== -->
        <div class="mainTableau">
            <div class="topBar p-4">
                <div class="toggle">
                    <img width="40" height="40" src="https://img.icons8.com/ios/50/menu--v1.png" alt="menu--v1" />
                </div>

                <div class="search">
                    <label>
                        <input type="text" placeholder="Recherche" />
                        <img width="20" height="20" src="https://img.icons8.com/ios/50/search--v1.png"
                            alt="search--v1" />
                    </label>
                </div>

                <div class="user">
                    <img src="../Public/assets/images/gohan.jpg" alt="">
                </div>
            </div>

            <!-- =====================CARDS=============================== -->
            <h1 class="mt-5 mx-4">Classes</h1>
            <div class="cardBox ">
                <div class="card border-0" id="cardDevWeb2">
                    <div>
                        <div class="cardNumber">30</div>
                        <div class="cardName">CDA</div>
                    </div>

                    <div class="iconCard">
                        <img width="60" height="60" src="https://img.icons8.com/external-tal-revivo-bold-tal-revivo/48/external-cda-is-a-file-extension-for-a-cd-audio-shortcut-file-format-audio-bold-tal-revivo.png" alt="external-cda-is-a-file-extension-for-a-cd-audio-shortcut-file-format-audio-bold-tal-revivo"/>
                    </div>
                </div>

                <div class="card border-0">
                    <div>
                        <div class="cardNumber">13</div>
                        <div class="cardName">C#</div>
                    </div>
                    <div class="iconCard"><img width="60" height="60" src="https://img.icons8.com/ios-filled/50/c-sharp-logo.png" alt="c-sharp-logo"/></div>
                </div>
                <div class="card border-0">
                    <div>
                        <div class="cardNumber">17</div>
                        <div class="cardName">Java</div>
                    </div>
                    <div class="iconCard"><img width="60" height="60" src="https://img.icons8.com/ios-filled/50/java-coffee-cup-logo--v1.png" alt="java-coffee-cup-logo--v1"/></div>
                </div>
                <div class="card border-0">
                    <div>
                        <div class="cardNumber">15</div>
                        <div class="cardName">DevWeb 1</div>
                    </div>
                    <div class="iconCard"><img width="60" height="60" src="https://img.icons8.com/ios-filled/50/web.png" alt="web"/></div>
                </div>
            </div>
            <div class="cardBox ">
                <div class="card border-0">
                    <div>
                        <div class="cardNumber">15</div>
                        <div class="cardName">DevWeb 2</div>
                    </div>

                    <div class="iconCard">
                        <img width="60" height="60" src="https://img.icons8.com/ios-filled/50/web.png" alt="web"/>
                    </div>
                </div>

                <div class="card border-0">
                    <div>
                        <div class="cardNumber">25</div>
                        <div class="cardName">Réseau</div>
                    </div>
                    <div class="iconCard"><img width="60" height="60" src="https://img.icons8.com/ios-filled/50/thin-client.png" alt="thin-client"/></div>
                </div>
                <div class="card border-0">
                    <div>
                        <div class="cardNumber">15</div>
                        <div class="cardName">RAN 1</div>
                    </div>
                    <div class="iconCard"><img width="60" height="60" src="https://img.icons8.com/ios/50/laptop-coding.png" alt="laptop-coding"/></div>
                </div>
                <div class="card border-0">
                    <div>
                        <div class="cardNumber">25</div>
                        <div class="cardName">RAN2</div>
                    </div>
                    <div class="iconCard"><img width="60" height="60" src="https://img.icons8.com/ios/50/laptop-coding.png" alt="laptop-coding"/></div>
                </div>
            </div>


            <!-- TABLEAU APPARITION JS -->
            <div class="tableauClass">
                <table class="table-container table align-middle table-striped table-hover table-custom"
                    id="tableContainer" style="display: none;">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Prénom</th>
                            <th scope="col">Classe</th>
                            <th scope="col">Ville</th>
                            <th scope="col">Date Inscription</th>
                            <th scope="col">Statuts</th>
                            <th scope="col" colspan="2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Classe 2-A -->
                        <tr>
                            <th scope="row">1</th>
                            <td>Midoriya</td>
                            <td>Izuku</td>
                            <td>2-A</td>
                            <td>Musutafu</td>
                            <td>2018-04-01</td>
                            <td>V</td>
                            <td><a href="#" data-bs-toggle="modal" data-bs-target="#modalStagiaire">
                                    <img width="20" height="20"
                                        src="https://img.icons8.com/fluency-systems-filled/48/visible.png"
                                        alt="visible" />
                                </a>
                            </td>
                            <td><a href=""><img width="20" height="20"
                                        src="https://img.icons8.com/ios-filled/50/waste.png" alt="waste" />
                                </a></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Bakugo</td>
                            <td>Katsuki</td>
                            <td>2-A</td>
                            <td>Musutafu</td>
                            <td>2018-04-01</td>
                            <td>Actif</td>
                            <td><a href=""><img width="20" height="20"
                                        src="https://img.icons8.com/fluency-systems-filled/48/visible.png"
                                        alt="visible" />
                                </a></td>
                            <td><a href=""><img width="20" height="20"
                                        src="https://img.icons8.com/ios-filled/50/waste.png" alt="waste" />
                                </a></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Todoroki</td>
                            <td>Shoto</td>
                            <td>2-A</td>
                            <td>Musutafu</td>
                            <td>2018-04-01</td>
                            <td>Actif</td>
                            <td><a href=""><img width="20" height="20"
                                        src="https://img.icons8.com/fluency-systems-filled/48/visible.png"
                                        alt="visible" />
                                </a></td>
                            <td><a href=""><img width="20" height="20"
                                        src="https://img.icons8.com/ios-filled/50/waste.png" alt="waste" />
                                </a></td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Uraraka</td>
                            <td>Ochaco</td>
                            <td>2-A</td>
                            <td>Kusuo</td>
                            <td>2018-04-01</td>
                            <td>Actif</td>
                            <td><a href=""><img width="20" height="20"
                                        src="https://img.icons8.com/fluency-systems-filled/48/visible.png"
                                        alt="visible" />
                                </a></td>
                            <td><a href=""><img width="20" height="20"
                                        src="https://img.icons8.com/ios-filled/50/waste.png" alt="waste" />
                                </a></td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>Iida</td>
                            <td>Tenya</td>
                            <td>2-A</td>
                            <td>Tokyo</td>
                            <td>2018-04-01</td>
                            <td>Actif</td>
                            <td><a href=""><img width="20" height="20"
                                        src="https://img.icons8.com/fluency-systems-filled/48/visible.png"
                                        alt="visible" />
                                </a></td>
                            <td><a href=""><img width="20" height="20"
                                        src="https://img.icons8.com/ios-filled/50/waste.png" alt="waste" />
                                </a></td>
                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <td>Tokoyami</td>
                            <td>Fumikage</td>
                            <td>2-A</td>
                            <td>Musutafu</td>
                            <td>2018-04-01</td>
                            <td>Actif</td>
                            <td><a href=""><img width="20" height="20"
                                        src="https://img.icons8.com/fluency-systems-filled/48/visible.png"
                                        alt="visible" />
                                </a></td>
                            <td><a href=""><img width="20" height="20"
                                        src="https://img.icons8.com/ios-filled/50/waste.png" alt="waste" />
                                </a></td>
                        </tr>
                        <tr>
                            <th scope="row">7</th>
                            <td>Asui</td>
                            <td>Tsuyu</td>
                            <td>2-A</td>
                            <td>Kyoto</td>
                            <td>2018-04-01</td>
                            <td>Actif</td>
                            <td><a href=""><img width="20" height="20"
                                        src="https://img.icons8.com/fluency-systems-filled/48/visible.png"
                                        alt="visible" />
                                </a></td>
                            <td><a href=""><img width="20" height="20"
                                        src="https://img.icons8.com/ios-filled/50/waste.png" alt="waste" />
                                </a></td>
                        </tr>
                        <tr>
                            <th scope="row">8</th>
                            <td>Kirishima</td>
                            <td>Eijiro</td>
                            <td>2-A</td>
                            <td>Osaka</td>
                            <td>2018-04-01</td>
                            <td>Actif</td>
                            <td><a href=""><img width="20" height="20"
                                        src="https://img.icons8.com/fluency-systems-filled/48/visible.png"
                                        alt="visible" />
                                </a></td>
                            <td><a href=""><img width="20" height="20"
                                        src="https://img.icons8.com/ios-filled/50/waste.png" alt="waste" />
                                </a></td>
                        </tr>
                        <tr>
                            <th scope="row">9</th>
                            <td>Yaoyorozu</td>
                            <td>Momo</td>
                            <td>2-A</td>
                            <td>Tokyo</td>
                            <td>2018-04-01</td>
                            <td>Actif</td>
                            <td><a href=""><img width="20" height="20"
                                        src="https://img.icons8.com/fluency-systems-filled/48/visible.png"
                                        alt="visible" />
                                </a></td>
                            <td><a href=""><img width="20" height="20"
                                        src="https://img.icons8.com/ios-filled/50/waste.png" alt="waste" />
                                </a></td>
                        </tr>
                        <tr>
                            <th scope="row">10</th>
                            <td>Kaminari</td>
                            <td>Denki</td>
                            <td>2-A</td>
                            <td>Yokohama</td>
                            <td>2018-04-01</td>
                            <td>Actif</td>
                            <td><a href=""><img width="20" height="20"
                                        src="https://img.icons8.com/fluency-systems-filled/48/visible.png"
                                        alt="visible" />
                                </a></td>
                            <td><a href=""><img width="20" height="20"
                                        src="https://img.icons8.com/ios-filled/50/waste.png" alt="waste" />
                                </a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>








    <!-- =======================SCRIPT JS================ -->

    <!-- =======================BOOTSTRAP JS================ -->
    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- =======================JQUERY================ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- =======================WAYPOINTS================ dependance requise du Counter-up-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>

    <!-- =======================COUNTER================ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>

    <!-- =======================IONICON================ -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <!-- =======================AOS================ -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>


    <!-- =======================SCRIPT================ -->
    <script src="../Public/assets/js/style.js"></script>


</body>

</html>