 <div class="box">
                    <h3 class="text-center">Gerer les profils utilisateurs</h3>
                    <div class="boxStagiaire bg-light border">
                        <h5>Stagiaires</h5>
                        <div class="boxGestionStudent">
                            <div class="boxGestionRoleStudent">
                                <a href=""><button class="btn btn-outline-info w-75">Gestion des rôles</button></a>
                                <a href=""><button class="btn btn-outline-info w-75">Accès aux dossiers et informations
                                        administratives</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="boxIntervenant bg-light border">
                        <h5>Intervenant</h5>
                        <div class="boxGestionIntervenant">
                            <div class="boxGestionRoleIntervenant">
                                <a href=""><button class="btn btn-outline-info w-75">Gestion des rôles</button></a>
                                <a href=""><button class="btn btn-outline-info w-75">Accès aux dossiers et informations
                                        administratives</button></a>
                            </div>
                        </div>
                    </div>

                    <div class="boxAdmin bg-light border">
                        <h5>Admin</h5>
                        <div class="boxGestionAdmin">
                            <div class="boxGestionRoleAdmin">
                                <a class="w-100" href="rolePermission.html"><button
                                        class="btn btn-outline-info w-75">Gestion des rôles et permissions</button></a>
                                <a class="w-100" href=""><button class="btn btn-outline-info w-75">Liste des types
                                        d’utilisateurs gérés</button></a>
                                <a class="w-100" href=""><button class="btn btn-outline-info w-75">Accès aux dossiers et
                                        informations
                                        administratives</button></a>
                                <a class="w-100" href="user.html"><button class="btn btn-outline-info w-75">Ajout d’un
                                        nouvel
                                        utilisateur</button></a>
                            </div>
                        </div>
                    </div>

                </div>