<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau</title>
    <!-- =======================BOOTSTRAP + ICONS BOOTSTRAP================ -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- =======================AOS SCROLL================ -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- =======================STYLES================ -->
    <link rel="stylesheet" href="../Public/assets/css/style.css">
    <link rel="stylesheet" href="../Public/assets/css/styleConnexion.css">
    <link rel="stylesheet" href="../Public/assets/css/styleNavigation.css">
    <link rel="stylesheet" href="../Public/assets/css/styleGestion.css">
    <link rel="stylesheet" href="../Public/assets/css/styleFooter.css">
    <link rel="stylesheet" href="../Public/assets/css/styleMediaQuery.css">
</head>


<body>

    <!-- ==============BARRE DE NAVIGATION============== -->
    <div class="container-fluid containerPrincipal bg-secondary">
        <div class="navigation">
            <ul>
                <li>
                    <a href="tableau.html">
                        <span class="icon"><img width="40" height="40"
                                src="https://img.icons8.com/ios/50/control-panel--v2.png"
                                alt="control-panel--v2" /></span>
                        <span class="title">MNS</span>
                    </a>
                </li>
                <li>
                    <a href="tableau.html">
                        <span class="icon"><img width="40" height="40"
                                src="https://img.icons8.com/ios/50/control-panel--v2.png"
                                alt="control-panel--v2" /></span>
                        <span class="title">Tableau</span>
                    </a>
                </li>
                <li>
                    <a href="stagiaire.html">
                        <span class="icon"><img width="40" height="40"
                                src="https://img.icons8.com/glyph-neue/64/student-male.png" alt="student-male" /></span>
                        <span class="title">Stagiaires</span>
                    </a>
                </li>
                <li>
                    <a href="intervenant.html">
                        <span class="icon"><img width="40" height="40"
                                src="https://img.icons8.com/ios-filled/50/podium-with-speaker.png"
                                alt="podium-with-speaker" /></span>
                        <span class="title">Intervenants</span>
                    </a>
                </li>
                <li>
                    <a href="dossier.html">
                        <span class="icon"><img width="40" height="40"
                                src="https://img.icons8.com/glyph-neue/64/user-folder.png" alt="user-folder" /></span>
                        <span class="title">Dossiers</span>
                    </a>
                </li>
                <li>
                    <a href="retard-abs.html">
                        <span class="icon"><img width="40" height="40"
                                src="https://img.icons8.com/ios-filled/50/task-planning.png"
                                alt="task-planning" /></span>
                        <span class="title">Retards-Absences</span>
                    </a>
                </li>
                <li>
                    <a href="classe.html">
                        <span class="icon"><img width="40" height="40"
                                src="https://img.icons8.com/glyph-neue/64/classroom.png" alt="classroom" /></span>
                        <span class="title">Classes</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="icon"><img width="40" height="40"
                                src="https://img.icons8.com/ios-filled/50/chat.png" alt="chat" /></span>
                        <span class="title">Messagerie</span>
                    </a>
                </li>
                <li>
                    <a href="profil.html">
                        <span class="icon"><img width="40" height="40"
                                src="https://img.icons8.com/glyph-neue/64/user--v1.png" alt="user--v1" /></span>
                        <span class="title">Profils</span>
                    </a>
                </li>
            </ul>
        </div>


        <!-- =====================MAIN GENERAL=============================== -->

        <!-- =====================MAIN TABLEAU=============================== -->
        <div class="mainDashboard">
            <div class="topBar p-4">
                <div class="toggle">
                    <img width="40" height="40" src="https://img.icons8.com/ios/50/menu--v1.png" alt="menu--v1" />
                </div>

                <div class="search">
                    <label>
                        <input type="text" placeholder="Recherche" />
                        <img width="20" height="20" src="https://img.icons8.com/ios/50/search--v1.png"
                            alt="search--v1" />
                    </label>
                </div>

                <div class="user">
                    <img src="../Public/assets/images/gohan.jpg" alt="">
                </div>
            </div>
            <!-- <h1 class="mx-4 mt-5">Profil</h1> -->

            <h1 class="text-center m-5">Gérer les profils Stagiaires</h1>
            <a class="mx-5 " href="profil.html">⬅ Retour a la page profil</a>

<div class="row m-0">
    <!-- Candidats -->
    <div class="col-lg-6 col-md-6 col-12">
        <div class="bg-light border p-3 box">
            <h5 class="text-center m-2">Candidats</h5>
            <div class="boxGestionRoleStudent">
                <a href="#"><button class="btn btn-outline-info w-75 mb-2">Gestion des rôles</button></a>
                <a href="#"><button class="btn btn-outline-info w-75 mb-2">Accès aux informations administratives</button></a>
                <a href="formulaire.html"><button class="btn btn-outline-info w-75">Ajout d'un nouveau candidat</button></a>
                <a href="stagiaire.html"><button class="btn btn-outline-info w-75">Modifier un candidat</button></a>
            </div>
        </div>
    </div>

    <!-- Stagiaires -->
    <div class="col-lg-6 col-md-6 col-12">
        <div class="bg-light border p-3 box">
            <h5 class="text-center m-2">Stagiaires</h5>
            <div class="boxGestionRoleStudent">
                <a href="#"><button class="btn btn-outline-info w-75 mb-2">Gestion des rôles</button></a>
                <a href="#"><button class="btn btn-outline-info w-75 mb-2">Accès aux informations administratives</button></a>
                <a href="formulaire.html"><button class="btn btn-outline-info w-75">Ajout d'un nouveau stagiaire</button></a>
                <a href="stagiaire.html"><button class="btn btn-outline-info w-75">Modifier un stagiaire</button></a>
            </div>
        </div>
    </div>
</div>

        </div>

    </div>