<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intervenants</title>
    <!-- =======================BOOTSTRAP + ICONS BOOTSTRAP================ -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- =======================AOS SCROLL================ -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- =======================STYLES================ -->
    <link rel="stylesheet" href="../Public/assets/css/style.css">
    <link rel="stylesheet" href="../Public/assets/css/styleNavigation.css">
    <link rel="stylesheet" href="../Public/assets/css/styleCards.css">
    <link rel="stylesheet" href="../Public/assets/css/styleStagiaire.css">
    <link rel="stylesheet" href="../Public/assets/css/styleFooter.css">
</head>

<body>


    <!-- ==============BARRE DE NAVIGATION============== -->
    <div class="container-fluid containerPrincipal bg-secondary">
        <div class="navigation">
            <ul>
                <li>
                    <a href="tableau.html">
                        <span class="icon"><img width="40" height="40"
                                src="https://img.icons8.com/ios/50/control-panel--v2.png"
                                alt="control-panel--v2" /></span>
                        <span class="title">MNS</span>
                    </a>
                </li>
                <li>
                    <a href="tableau.html">
                        <span class="icon"><img width="40" height="40"
                                src="https://img.icons8.com/ios/50/control-panel--v2.png"
                                alt="control-panel--v2" /></span>
                        <span class="title">Tableau</span>
                    </a>
                </li>
                <li>
                    <a href="stagiaire.html">
                        <span class="icon"><img width="40" height="40"
                                src="https://img.icons8.com/glyph-neue/64/student-male.png" alt="student-male" /></span>
                        <span class="title">Stagiaires</span>
                    </a>
                </li>
                <li>
                    <a href="intervenant.html">
                        <span class="icon"><img width="40" height="40"
                                src="https://img.icons8.com/ios-filled/50/podium-with-speaker.png"
                                alt="podium-with-speaker" /></span>
                        <span class="title">Intervenants</span>
                    </a>
                </li>
                <li>
                    <a href="dossier.html">
                        <span class="icon"><img width="40" height="40"
                                src="https://img.icons8.com/glyph-neue/64/user-folder.png" alt="user-folder" /></span>
                        <span class="title">Dossiers</span>
                    </a>
                </li>
                <li>
                    <a href="retard-abs.html">
                        <span class="icon"><img width="40" height="40"
                                src="https://img.icons8.com/ios-filled/50/task-planning.png"
                                alt="task-planning" /></span>
                        <span class="title">Retards-Absences</span>
                    </a>
                </li>
                <li>
                    <a href="classe.html">
                        <span class="icon"><img width="40" height="40"
                                src="https://img.icons8.com/glyph-neue/64/classroom.png" alt="classroom" /></span>
                        <span class="title">Classes</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="icon"><img width="40" height="40"
                                src="https://img.icons8.com/ios-filled/50/chat.png" alt="chat" /></span>
                        <span class="title">Messagerie</span>
                    </a>
                </li>
                <li>
                    <a href="profil.html">
                        <span class="icon"><img width="40" height="40"
                                src="https://img.icons8.com/glyph-neue/64/user--v1.png" alt="user--v1" /></span>
                        <span class="title">Profils</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- =====================MAIN GENERAL=============================== -->

        <!-- =====================MAIN TABLEAU=============================== -->
        <div class="mainTableau">
            <div class="topBar p-4">
                <div class="toggle">
                    <img width="40" height="40" src="https://img.icons8.com/ios/50/menu--v1.png" alt="menu--v1" />
                </div>

                <div class="search">
                    <label>
                        <input type="text" placeholder="Recherche" />
                        <img width="20" height="20" src="https://img.icons8.com/ios/50/search--v1.png"
                            alt="search--v1" />
                    </label>
                </div>

                <div class="user">
                    <img src="../Public/assets/images/gohan.jpg" alt="">
                </div>
            </div>


            <!--======================= TABLEAU PROF ======================-->

            <div class="tableProfesseurs">
                <h1 class="mt-5">Intervenants</h1>
                <div class="btnNewIntervenant">
                    <a href="formulaire.html" class="btn btn-outline-warning ">
                        <img width="20" height="20" src="https://img.icons8.com/ios/50/plus--v1.png" alt="plus icon"
                            class="me-2" />
                        Nouveau Dossier
                    </a>
                </div>

                <table class="table align-middle table-striped table-hover table-custom bg-secondary">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Prénom</th>
                            <th scope="col">Matière</th>
                            <th scope="col">Ville</th>
                            <th scope="col">Date d'embauche</th>
                            <th scope="col">Statut</th>
                            <th scope="col" colspan="2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Aizawa</td>
                            <td>Shota</td>
                            <td>Combat</td>
                            <td>Musutafu</td>
                            <td>2015-03-15</td>
                            <td>Actif</td>
                            <td><a href="#" data-bs-toggle="modal" data-bs-target="#modalStagiaire">
                                    <img width="20" height="20"
                                        src="https://img.icons8.com/fluency-systems-filled/48/visible.png"
                                        alt="visible" />
                                </a></td>
                            <td><a href=""><img width="20" height="20"
                                        src="https://img.icons8.com/ios-filled/50/waste.png" alt="waste" /></a></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Yamada</td>
                            <td>Hizashi</td>
                            <td>Anglais</td>
                            <td>Tokyo</td>
                            <td>2014-06-22</td>
                            <td>Actif</td>
                            <td><a href=""><img width="20" height="20"
                                        src="https://img.icons8.com/fluency-systems-filled/48/visible.png"
                                        alt="visible" /></a></td>
                            <td><a href=""><img width="20" height="20"
                                        src="https://img.icons8.com/ios-filled/50/waste.png" alt="waste" /></a></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Nezu</td>
                            <td>Directeur</td>
                            <td>Gestion</td>
                            <td>Musutafu</td>
                            <td>2010-01-10</td>
                            <td>Actif</td>
                            <td><a href=""><img width="20" height="20"
                                        src="https://img.icons8.com/fluency-systems-filled/48/visible.png"
                                        alt="visible" /></a></td>
                            <td><a href=""><img width="20" height="20"
                                        src="https://img.icons8.com/ios-filled/50/waste.png" alt="waste" /></a></td>
                        </tr>
                    </tbody>
                </table>

                <!-- PAGINATION -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>


            <!-- Modakl BACK -->
            <div class="modal fade" id="modalStagiaire" tabindex="-1" aria-labelledby="modalStagiaireLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalStagiaireLabel">Détails du Stagiaire</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p><strong>Nom :</strong> Aizawa</p>
                            <p><strong>Prénom :</strong> Shota</p>
                            <p><strong>Classe :</strong> 2-A</p>
                            <p><strong>Adresse :</strong> 15 rue quelque chose</p>
                            <p><strong>Ville :</strong> Musutafu</p>
                            <p><strong>MAtiere: </strong> C#</p>
                            <p><strong>Telephone</strong> 06.06.060.06</p>
                            <p><strong>Mail</strong> Bob@gogole.com</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- =======================FOOTER================ -->
            <hr>
            <footer class="footer">
                <div class="linkFooter ">
                    <ul>
                        <li><a href="">Politique de confidentialité</a></li>
                        <li><a href="">Parametre</a></li>
                        <li><a href="">Contacter Nous</a></li>

                    </ul>
                    <p class="text-center">&copy 2025 Metz Numeric School</p>
                </div>

            </footer>

        </div>


    </div>





    <!-- =======================SCRIPT JS================ -->

    <!-- =======================BOOTSTRAP JS================ -->
    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- =======================JQUERY================ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <!-- =======================IONICON================ -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <!-- =======================AOS================ -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>



    <!-- =======================SCRIPT================ -->
    <script src="../Public/assets/js/style.js"></script>

</body>

</html>