<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau</title>
    <!-- =======================BOOTSTRAP + ICONS BOOTSTRAP================ -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- =======================AOS SCROLL================ -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- =======================STYLES================ -->
    <link rel="stylesheet" href="../Public/assets/css/style.css">
    <link rel="stylesheet" href="../Public/assets/css/styleConnexion.css">
    <link rel="stylesheet" href="../Public/assets/css/styleNavigation.css">
    <link rel="stylesheet" href="../Public/assets/css/styleProfil.css">
</head>


<body>

    <!-- ==============BARRE DE NAVIGATION============== -->
    <div class="container-fluid containerPrincipal bg-secondary">
        <div class="navigation">
            <ul>
                <li>
                    <a href="tableau.html">
                        <span class="icon"><img width="40" height="40"
                                src="https://img.icons8.com/ios/50/control-panel--v2.png"
                                alt="control-panel--v2" /></span>
                        <span class="title">MNS</span>
                    </a>
                </li>
                <li>
                    <a href="tableau.html">
                        <span class="icon"><img width="40" height="40"
                                src="https://img.icons8.com/ios/50/control-panel--v2.png"
                                alt="control-panel--v2" /></span>
                        <span class="title">Tableau</span>
                    </a>
                </li>
                <li>
                    <a href="stagiaire.html">
                        <span class="icon"><img width="40" height="40"
                                src="https://img.icons8.com/glyph-neue/64/student-male.png" alt="student-male" /></span>
                        <span class="title">Stagiaires</span>
                    </a>
                </li>
                <li>
                    <a href="intervenant.html">
                        <span class="icon"><img width="40" height="40"
                                src="https://img.icons8.com/ios-filled/50/podium-with-speaker.png"
                                alt="podium-with-speaker" /></span>
                        <span class="title">Intervenants</span>
                    </a>
                </li>
                <li>
                    <a href="dossier.html">
                        <span class="icon"><img width="40" height="40"
                                src="https://img.icons8.com/glyph-neue/64/user-folder.png" alt="user-folder" /></span>
                        <span class="title">Dossiers</span>
                    </a>
                </li>
                <li>
                    <a href="retard-abs.html">
                        <span class="icon"><img width="40" height="40"
                                src="https://img.icons8.com/ios-filled/50/task-planning.png"
                                alt="task-planning" /></span>
                        <span class="title">Retards-Absences</span>
                    </a>
                </li>
                <li>
                    <a href="classe.html">
                        <span class="icon"><img width="40" height="40"
                                src="https://img.icons8.com/glyph-neue/64/classroom.png" alt="classroom" /></span>
                        <span class="title">Classes</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="icon"><img width="40" height="40"
                                src="https://img.icons8.com/ios-filled/50/chat.png" alt="chat" /></span>
                        <span class="title">Messagerie</span>
                    </a>
                </li>
                <li>
                    <a href="profil.html">
                        <span class="icon"><img width="40" height="40"
                                src="https://img.icons8.com/glyph-neue/64/user--v1.png" alt="user--v1" /></span>
                        <span class="title">Profils</span>
                    </a>
                </li>
            </ul>
        </div>


        <!-- =====================MAIN GENERAL=============================== -->

        <!-- =====================MAIN TABLEAU=============================== -->
        <div class="mainTableau">
            <div class="topBar p-4">
                <div class="toggle">
                    <img width="40" height="40" src="https://img.icons8.com/ios/50/menu--v1.png" alt="menu--v1" />
                </div>

                <div class="search">
                    <label>
                        <input type="text" placeholder="Recherche" />
                        <img width="20" height="20" src="https://img.icons8.com/ios/50/search--v1.png"
                            alt="search--v1" />
                    </label>
                </div>

                <div class="user">
                    <img src="../Public/assets/images/gohan.jpg" alt="">
                </div>
            </div>
            <!-- <h1 class="mx-4 mt-5">Profil</h1> -->

            <!-- =====================EN TETE PROFIL=============================== -->

            <header>
                <div class=" containerHeader border">
                    <img src="../Public/assets/images/gohan.jpg" alt="photo de profil">
                    <div class="titreContainerHeader">
                        <h2>Bob Alfred</h2>
                        <div class="dropdown">
                            <button class="btn btn-light border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-three-dots"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="#">Modifier le profil</a></li>
                                <li><a class="dropdown-item" href="#">Autre option</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="coordonneProfil  ">
                        <div class="status">
                            <h5>Admin</h5>
                            <div class="positionIcon">
                                <i class="bi bi-shield-lock-fill"></i>
                                <p>Admin (responsable administration) </p>
                            </div>
                        </div>

                        <div class="phone">
                            <h5>Téléphone</h5>
                            <div class="positionIcon">
                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25"
                                    viewBox="0 0 32 32">
                                    <path
                                        d="M26.963,7.254c-0.258-1.089-1.128-1.959-2.217-2.217c-5.803-1.376-11.688-1.376-17.492,0 C6.165,5.295,5.295,6.165,5.037,7.254C3.66,13.061,3.66,18.947,5.039,24.751c0.257,1.086,1.124,1.953,2.209,2.21 c2.904,0.689,5.828,1.034,8.752,1.034s5.848-0.345,8.752-1.034c1.085-0.257,1.952-1.124,2.209-2.209 C28.34,18.947,28.34,13.061,26.963,7.254z M9.2,10.75c0.44-1.03,2.25-1.88,3.66-1.73c0.86,0.08,2.18,1.71,2.25,3.09 c0.05,1.13-1.13,2.25-1.13,2.25s0.97,0.75,1.94,1.72c0.94,0.92,1.72,1.94,1.72,1.94s1.12-1.18,2.25-1.13 c1.38,0.07,3.01,1.39,3.09,2.25c0.15,1.41-0.7,3.22-1.73,3.66c-2.04,0.88-6.12-1.27-8.45-3.6C10.47,16.87,8.32,12.79,9.2,10.75z">
                                    </path>
                                </svg>
                                <p>+12 56 89 74 594</p>
                            </div>
                        </div>

                        <div class="mail">
                            <h5>EMail</h5>
                            <div class="positionIcon">
                                <i class="bi bi-envelope-at-fill"></i>
                                <p>Admin@admin.com</p>
                                <div class="positionIcon">
                                </div>
                            </div>
                        </div>
            </header>

            <!-- ===================== BOX INFOS USER =============================== -->

            <div class="boxInfos">
                <div class="box">
                    <h3 class="text-center">Gerer les profils utilisateurs</h3>
                    <div class="boxStagiaire bg-secondary">
                        <h4>Stagiaires</h4>
                        <p>✅ Gestion des rôles
                            ✅ Accès aux dossiers et informations administratives
                            ✅ Messagerie interne</p>
                    </div>
                    <div class="boxIntervenant">
                        <h4>Intervenants</h4>
                        <p>✅ Gestion des rôles
                            ✅ Accès aux dossiers et informations administratives
                            ✅ Messagerie interne</p>
                    </div>
                    <div class="boxAdmin bg-secondary">
                        <h4>Admin</h4>
                        <p>🔹 3. Gestion des rôles et permissions
                            📌 Liste des types d’utilisateurs gérés (si Admin)
                            ✔ Stagiaires
                            ✔ Intervenants
                            ✔ Admins
                            ✔ Ajout d’un nouvel utilisateur
                            
                            📌 Accès aux autres profils
                            ✔ Rechercher un utilisateur
                            ✔ Modifier les rôles</p>
                    </div>
                    <div class="boxNew">
                        <h4>Nouveau</h4>
                        <p>🔹 4. Historique & Statistiques
                            📌 Activités récentes
                            ✔ Dernières connexions
                            ✔ Actions récentes
                            
                            📌 Statistiques personnelles
                            ✔ Nombre de connexions
                            ✔ Nombre d’actions effectuées</p>
                    </div>
                </div>
                <div class="box">
                    <h3>Gerer les profils utilisateurs</h3>
                    <p>📌 Paramètres
                        ✔ Modifier l’email et le mot de passe
                        ✔ Paramètres de confidentialité
                        
                        📌 Réseaux sociaux (optionnel)
                        ✔ Liens vers les comptes associés
                        
                        📌 Déconnexion
                        ✔ Bouton de déconnexion</p>
                </div>
            </div>





        </div>








        <!-- =======================FOOTER================ -->
        <!-- <footer class="footer bg-secondary">blbkakalal</footer> -->
    </div>


    </div>






    <!-- =======================SCRIPT JS================ -->

    <!-- =======================BOOTSTRAP JS================ -->
    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- =======================JQUERY================ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- =======================WAYPOINTS================ dependance requise du Counter-up-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>

    <!-- =======================COUNTER================ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>

    <!-- =======================IONICON================ -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <!-- =======================AOS================ -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

    <!-- =======================CHARTS================ -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.min.js"></script>

    <!-- =======================SCRIPT================ -->
    <script src="../Public/assets/js/style.js"></script>

</body>

</html>